/custom_components/*
!/custom_components/notify_hq
/
.DS_Store
.HA_VERSION
config/backups
automations.yaml
configuration.yaml
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
home-assistant.log
home-assistant.log.1
home-assistant.log.fault
known_devices.yaml
scenes.yaml
scripts.yaml
secrets.yaml
.storage/*
backups/*
blueprints/*
